h1, h2, h3, h4, h5, h6, p, .navbar-brand strong {
    font-family: 'Barlow', sans-serif;
}
h1, h2 {
    font-weight: 900;
    font-size: 5vw;
}
.carousel-item h1, .carousel-item h2 {
    font-weight: 900;
    font-size: 5vw;
    text-shadow: #000 0px 0px 5px;
}
#ozonepediaSlide .carousel-item p {
    width: 75%;
}
h3 {
    font-weight: 900;
    font-size: 2.3rem;
}
h4 {
    font-weight: 900;
    font-size: 1.5rem;
}
p.slide-p {
    font-size: 24px;
}
li.nav-item {
    margin: auto 5px;
}
.card-img-overlay {
    top: unset;
}
#man-bg {
    background-image: url('https://images.pexels.com/photos/2897883/pexels-photo-2897883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
}
header {
    position: relative;
}
.modal-content {
    background: none !important;
    border: none !important;
}
button.close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
    color: #fff;
    text-shadow: #000 0px 0px 2px;
}
#youtube-float {
    background-image: url(ozonepedia-youtube.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 54px 96px;
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 300px;
}
@media screen and (max-width: 575px) {
    #youtube-float {
        padding: 27px 48px;
    }
  }
div#header-blk {
    position: absolute;
    display: block;
    width: 90%;
    z-index: 10;
    top: 0;
    left: 0;
}
header h1, header p {
    text-shadow: #000 0px 0px 5px;
}
header p {
    font-size: 1.1rem;
}
section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.img-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);    
}
.btn {
    padding: 7px 30px;
    border-radius: 20px;
}
.btn-warning {
    background-color: #ffce60 !important;
}
.badge {
    padding: 5px 15px;
}
.badge-warning {
    background-color: #ffce60 !important;
}
.card-img-overlay {
    /* background-color: #00000080; */
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.55) 45%, rgba(0,0,0,0.75) 75%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.55) 45%, rgba(0,0,0,0.75) 75%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.55) 45%, rgba(0,0,0,0.75) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.card-no-line {
    background: #fff0;
    border-radius: 0;
    border: none;
}
.card-no-line img {
    border-radius: 0;
}
.card-bottom-line {
    border: none;
    border-bottom: #000 solid 4px;
    border-radius: 0px;
}
.bg-warning {
    background-color: #ffce60 !important;
}
.muted-bg {
    background-color: #ededed;
}
.bg-dark {
    background-color: #2e2821 !important;
}
.white-muted-bg {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 80%, rgba(237,237,237,1) 80%); 
}
hr {
    width: 1px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}
.card:hover hr {
    width: 150px;
    float: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 4px solid #ffce60;
}
.muted-bg .carousel-control-next span, .muted-bg .carousel-control-prev span {
    /* background-color: #ffce60;
    border: 12px solid #ffce60; */
    background-color: #000;
    border: 12px solid #000;
    border-radius: 50%;
    padding: 8px;
}
#slider-bg1 {
    background-image: url('https://images.unsplash.com/photo-1584036561566-baf8f5f1b144?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-bg2 {
    background-image: url('https://images.unsplash.com/photo-1584521764592-48f33fe7e088?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-bg1, #slider-bg2 {
    padding-top: 50px;
    padding-bottom: 150px;
    padding: 100px 15% 150px;
}
/* About Page */
#header-about {
    background-image: url('https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
}
#header-bottom {
    position: relative;
    z-index: 20;
    margin-top: -100px;
}
.nav-logo-left {
    height: 48px;
    width: auto;
}
.nav-logo-right {
    height: 32px;
    width: auto;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
}
/* About Page */