.card-img-overlay {
    top: unset;
}
#man-bg {
    background-image: url('https://images.pexels.com/photos/2897883/pexels-photo-2897883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;

}
.caraosen-inner, .carousel-item {
    height: 600px;
}
header {
    position: relative;
}
div#header-blk {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
header h1, header p {
    text-shadow: #000 0px 0px 5px;
}
header h1 {
    font-size: 5rem;
}
header p {
    font-size: 1.1rem;
}
.img-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);    
}